* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 90%;
	background: #F8F8FF;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: steelblue;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 10px 10px 10px 10px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 20px;
	width: 93%;
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid gray;
}
.btn {
	padding: 7px;
	font-size: 14px;
	color: white;
	background: steelblue;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}h1 , h2 ,h3 , h4 ,h5, h6, p {	margin:0;	padding:0;}li{	list-style:none;}.show-container {	width: 55%;	margin: 0 auto;}.icon-list {	display: flex;	width: 100%;	background-color: #fff;	margin-top: 15px;	padding: 5px;	margin-bottom: 17px;}#screen-editor {	background-color: #fff;	margin-right: auto;	height: auto;	width: auto;	border: 5px solid #CACACA;}.icon-list ul {	display: flex;	width: 50%;}.insert-iconn {	color: #F26F26;	text-decoration: none;}.insert-iconn i {	color: #F26F26!important;}.icon-list h3 {	width: 50%;	font-size: 16px;	padding: 14px 20px;}.icon-list ul li {	margin: 0 10px;}.icon-list li i {	color: #9c9c9c;	font-size: 14px;}#screen-editor .screen-back {	position: relative;	background-color: #000;	background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,.1) 0,transparent 1px),-webkit-linear-gradient(90deg,rgba(255,255,255,.1) 1px,transparent 1px);	background-image: -moz-linear-gradient(0deg,rgba(255,255,255,.1) 0,transparent 1px),-moz-linear-gradient(90deg,rgba(255,255,255,.1) 1px,transparent 1px);	background-image: linear-gradient(0deg,rgba(255,255,255,.1) 0,transparent 1px),linear-gradient(90deg,rgba(255,255,255,.1) 1px,transparent 1px);	background-size: 16px 9px,16px 9px;	background-position: 0 0,0 0;}.insert-item-types {	padding: 6px 40px 20px;}.sidebar-heading {	color: #F26F26;	font-size: 16px;	padding: 17px 40px 20px;}.insert-item-types ul {	display: flex;	flex-wrap: wrap;	justify-content: space-between;	padding: 0;}.insert-item-types ul li i{	font-size: 38px;	color: #fff;}.insert-item-types li a {	padding: 22px;}.insert-item-types li {	width: 47%;	margin-bottom: 10px;	text-align: center;}.insert-label {    text-align: center;    line-height: 42px;    font-size: 12px;}.insert-item-types li a {	border-radius: 3px;	height: 80px;	background: #dcdcdc;	color: #fff;	cursor: pointer;	transition: all ease-in-out .5s;	width: 100%;	}.header-hr {	margin-top: 10px;	margin-bottom: 30px;	height: 1px;	background: #e8e9ec;	border: 0;}.sidenav {	height: 100%;	width: 0;	position: fixed;	z-index: 1;	top: 0;	right: 0;	background-color: #fff;	overflow-x: hidden;	transition: 0.5s;	padding-top: 0px;	}.sidenav a {  padding: 8px 8px 8px 32px;  text-decoration: none;  font-size: 25px;  color: #818181;  display: block;  transition: 0.3s;}.sidenav a:hover {  color: #f1f1f1;}.sidenav .closebtn {  position: absolute;  top: 0;  right: 25px;  font-size: 36px;  margin-left: 50px;}@media screen and (max-height: 450px) {  .sidenav {padding-top: 15px;}  .sidenav a {font-size: 18px;}}
